@page "{id}/{handler?}"
@using UserModule.Core
@using CoreModule.Application._Utilities
@using Common.Application.DateUtil
@using CoreModule.Domain.Teacher.Enums
@model Tony.Web.Areas.Admin.Pages.Teachers.ShowModel
@{
    ViewData["title"] = "show teachers";
    ViewData["selected"] = "teachers";
}
<h2>information teacher</h2>
@if (Model.Teacher.Status == TeacherStatus.Pending)
{
    <Question class="btn btn-success" url="@Url.Page("Show","Accept",new {id=Model.Teacher.Id})">verify requsst</Question>
}
<div class="card card-body mt-1">
    <img src="@UserModuleDirectories.GetUserAvatar(Model.Teacher.User.Avatar)" style="max-width: 150px" class="mb-2" />
    <div class="row">
        <div class="col-md-6">user name : @Model.Teacher.UserName</div>
        <div class="col-md-6">Name and Family : @Model.Teacher.User.Name @Model.Teacher.User.Family</div>

        <div class="col-md-6">telephone numbers : @Model.Teacher.User.PhoneNumber</div>

        <div class="col-md-6">Email : @Model.Teacher.User.Email</div>

        <div class="col-md-6">Register date name : @Model.Teacher.CreationDate.ToPersianDateTime()</div>

        <div class="col-md-6">
            Status :
            @switch (Model.Teacher.Status)
            {
                case TeacherStatus.Active:
                    <label class="badge bg-success">Active</label>
                    break;
                case TeacherStatus.Inactive:
                    <label class="badge bg-danger">disableActive</label>

                    break;

                case TeacherStatus.Pending:
                    <label class="badge bg-primary">In process</label>

                    break;
            }
        </div>
        <div class="col-md-12">resume : <a href="@CoreModuleDirectories.GetCvFile(Model.Teacher.CvFileName)" target="_blank">show</a></div>
    </div>
</div>
@if (Model.Teacher.Status == TeacherStatus.Pending)
{
    <div class="card card-body mt-2">
        <form method="post" asp-page-handler="Reject">
            <textarea class="form-control" name="description" placeholder="reseans"></textarea>
            <button class="btn btn-danger mt-1" onclick="return confirm('آare you aure about operation ')">reject</button>
        </form>
    </div>
}